Repository naotty/notify-github-reaction-in-gas, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source-code, tests, dependencies, github-actions, config

.github/labeler.yml:

# ラベル自動付与設定

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

source-code:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.ts'
      - 'src/**/*.js'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'test/**'
      - '**/*.test.ts'
      - '**/*.spec.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

config:
  - changed-files:
    - any-glob-to-any-file:
      - 'tsconfig.json'
      - '.eslintrc.js'
      - '.prettierrc.json'
      - 'jest.config.js'
      - '.clasp.json'
      - 'appsscript.json'

fix: GitHub Actionsワークフローのpaths設定エラーを修正
  .github/workflows/ci.yml
Labels: github-actions

fix: テスト環境とCI/CDパイプラインを修正
  .github/workflows/deploy.yml
  jest.config.js
  test/main.test.ts
  test/setup.ts
Labels: tests, github-actions, config

style: test/setup.tsのコードフォーマットを修正
  test/setup.ts
Labels: tests

fix: rootDirがdistになっているので除外対象を削除
  .claspignore
Labels: none

refs #1 fix: error in gas.
  src/github.ts
  src/main.ts
  src/slack.ts
  src/types.ts
  tsconfig.json
Labels: source-code, config

refs #1 chore: fix lint errors,
  src/github.ts
  src/main.ts
  src/setup.ts
  src/slack.ts
  src/types.ts
Labels: source-code

refs #1 chore: fix errors.
  jest.config.js
  src/slack.ts
Labels: source-code, config

feat: improve response.
  src/github.ts
  src/main.ts
  src/slack.ts
  src/types.ts
  test/main.test.ts
  tsconfig.json
Labels: source-code, tests, config

chore: fix format error.
  test/main.test.ts
Labels: tests

chore: fix ci error.
  .github/workflows/ci.yml
Labels: github-actions

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: github-actions

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/pr-labels.yml
Labels: github-actions

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/deploy.yml
Labels: github-actions

Create dependabot.yml
  .github/dependabot.yml
Labels: github-actions
